langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-ollama==0.2.0
langchain-groq==0.2.0
langchain-text-splitters==0.3.0
beaupy==3.9.2
prompt_toolkit==3.0.48
pyperclip==1.9.0
halo==0.0.31
